body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #69047a;
  margin-bottom: 4px;
}

button {
  background-image: linear-gradient(to bottom right, #d442ed, #69047a);
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
}

a {
  color: #69047a;
}
